  /* Homework 3 */
  body {
    font-family: Arial;
}

/*align the text in the center*/
.center{
    text-align: center;
}

/*make the font size of the acknowledgments smaller*/
#smaller{
    font-size: 20px;
}

.column {
    float: left;
    width: 50%;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  /* images stay the same even when you expand and condense the webpage */
#img1 {
    width:100%;
    height: inherit;
    object-fit: cover;
  }
  #img2 {
    width: 100%;
    height: inherit;
    object-fit: cover;
  }

  #img3 {
    width: 100%;
    height: inherit;
    object-fit: cover;
  }



  /* adjust the sizing of the images */
  .rounded {
    max-width: 30rem;
    border-radius: .75rem;
    
  }

  #small{
    font-size: 11px;
}


.container {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
 }

 img {
  max-width: 100%;
  max-height:100%;
}

.text {
  font-size: 12px;
}
 


.some-page-wrapper {
  margin: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

